@model MVC3.Models.Local

<h1>Detalhes</h1>
<h3>@Html.DisplayNameFor(model => model.Id): @Html.DisplayFor(model => model.Id)</h3>
<h3>@Html.DisplayNameFor(model => model.Nome): @Html.DisplayFor(model => model.Nome)</h3>
<h3>@Html.DisplayNameFor(model => model.Rua): @Html.DisplayFor(model => model.Rua)</h3>
<h3>@Html.DisplayNameFor(model => model.Numero): @Html.DisplayFor(model => model.Numero)</h3>
<h3>@Html.DisplayNameFor(model => model.Bairro): @Html.DisplayFor(model => model.Bairro)</h3>
<h3>@Html.DisplayNameFor(model => model.Cidade): @Html.DisplayFor(model => model.Cidade)</h3>
<h3>@Html.DisplayNameFor(model => model.Cep): @Html.DisplayFor(model => model.Cep)</h3>
<h3>@Html.DisplayNameFor(model => model.Estado): @Html.DisplayFor(model => model.Estado)</h3>
