@model MVC3.Models.Compromisso

<div>
    <h1>Detalhes</h1>
    <h3>@Html.DisplayNameFor(model => model.Id): @Html.DisplayFor(model => model.Id)</h3>
    <h3>@Html.DisplayNameFor(model => model.Data): @Html.DisplayFor(model => model.Data)</h3>
    <h3 class="mb-5">@Html.DisplayNameFor(model => model.Hora): @Html.DisplayFor(model => model.Hora)</h3>

    <h3 class="mt-5 text-danger">Local: </h3>
    <h3>ID: @Html.DisplayFor(model => model.LocalC.Id)</h3>
    <h3>Nome: @Html.DisplayFor(model => model.LocalC.Nome)</h3>
    <h3>Número: @Html.DisplayFor(model => model.LocalC.Numero)</h3>
    <h3>Rua: @Html.DisplayFor(model => model.LocalC.Rua)</h3>
    <h3>Bairro: @Html.DisplayFor(model => model.LocalC.Bairro)</h3>
    <h3>Cidade: @Html.DisplayFor(model => model.LocalC.Cidade)</h3>
    <h3>Estado: @Html.DisplayFor(model => model.LocalC.Estado)</h3>
    <h3 class="mb-5">CEP: @Html.DisplayFor(model => model.LocalC.Cep)</h3>

    <h3 class="mt-5 text-danger">Contato: </h3>
    <h3>ID: @Html.DisplayFor(model => model.ContatoC.Id)</h3>
    <h3>Nome: @Html.DisplayFor(model => model.ContatoC.Name)</h3>
    <h3>E-mail: @Html.DisplayFor(model => model.ContatoC.Email)</h3>
    <h3 class="mb-5">Fone: @Html.DisplayFor(model => model.ContatoC.Fone)</h3>

    <h3 class="mt-5">@Html.DisplayNameFor(model => model.Status): @Html.DisplayFor(model => model.Status)</h3>

    <form asp-action="Compromisso">
        <button asp-action="Compromisso" class="btn btn-primary mt-3">Voltar</button>
    </form>
</div>