@model MVC3.Models.Compromisso

<div>
    <h1>Detalhes</h1>
    <h3>@Html.DisplayNameFor(model => model.Id): @Html.DisplayFor(model => model.Id)</h3>
    <h3>@Html.DisplayNameFor(model => model.Data): @Html.DisplayFor(model => model.Data)</h3>
    <h3>@Html.DisplayNameFor(model => model.Hora): @Html.DisplayFor(model => model.Hora)</h3>
    <h3>Local: @Html.DisplayFor(model => model.Local)</h3>
    <h3>Contato: @Html.DisplayFor(model => model.Contato)</h3>
    <h3>@Html.DisplayNameFor(model => model.Status): @Html.DisplayFor(model => model.Status)</h3>

    <form asp-action="Compromisso">
        <button asp-action="Compromisso" class="btn btn-primary">Voltar</button>
    </form>
</div>